*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/shelf/Uncommitted_changes_before_Checkout_at_2023_11_9,_13_44_\[Changes\]/libffmpeg-org.so
.idea/shelf/Uncommitted_changes_before_Checkout_at_2023_11_9,_13_44_\[Changes\]/libffmpeg-org1.so
.idea/shelf/Uncommitted_changes_before_Checkout_at_2023_11_9,_13_44_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Checkout_at_2023_11_9__13_44__Changes_.xml
