<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coder.ffmpegcommand">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.coder.ffmpegcommand.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name="com.coder.ffmpegcommand.ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--通过命令行执行-->
        <activity android:name="com.coder.ffmpegcommand.ui.KFFmpegCommandActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--获取视频信息-->
        <activity android:name="com.coder.ffmpegcommand.ui.KFFmpegInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--获取支持格式-->
        <activity android:name="com.coder.ffmpegcommand.ui.KFFmppegFormatActivity"
            android:screenOrientation="portrait"/>

        <!--获取支持编码-->
        <activity android:name="com.coder.ffmpegcommand.ui.KFFmpegCodecActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.coder.ffmpegcommand.ui.TestCodecActivity"
            android:screenOrientation="portrait"/>
        <!--添加文字、字幕-->
        <activity android:name="com.coder.ffmpegcommand.ui.KFFmpegFontActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.coder.ffmpegcommand.service.FFmpegCommandService" />
        <service android:name="com.coder.ffmpegcommand.service.FFmpegCommandService2" android:process=":ffmpegCommand2" />
    </application>

</manifest>